
.vs/ChatBubbles/v16/.suo
.vs/ChatBubbles/v16/Server/sqlite3/db.lock
.vs/ChatBubbles/v16/Server/sqlite3/storage.ide
.vs/ChatBubbles/v16/Server/sqlite3/storage.ide-shm
.vs/ChatBubbles/v16/Server/sqlite3/storage.ide-wal
bin/Debug/ChatBubbles.dll
bin/Debug/ChatBubbles.pdb
bin/Debug/CheapLoc.dll
bin/Debug/Dalamud.dll
bin/Debug/Dalamud.pdb
bin/Debug/Dalamud.xml
bin/Debug/EasyHook.dll
bin/Debug/ImGui.NET.dll
bin/Debug/ImGui.NET.pdb
bin/Debug/ImGuiScene.dll
bin/Debug/ImGuiScene.pdb
bin/Debug/Lumina.dll
bin/Debug/Lumina.Excel.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/OpenGL.Net.dll
bin/Debug/SDL2-CS.dll
bin/Debug/SDL2-CS.dll.config
bin/Debug/Serilog.dll
bin/Debug/Serilog.Sinks.Async.dll
bin/Debug/Serilog.Sinks.File.dll
bin/Debug/SharpDX.Desktop.dll
bin/Debug/SharpDX.Direct3D11.dll
bin/Debug/SharpDX.dll
bin/Debug/SharpDX.DXGI.dll
bin/Debug/SharpDX.Mathematics.dll
bin/Debug/StbiSharp.dll
bin/Debug/System.Buffers.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
obj/Debug/ChatBubbles.csproj.CopyComplete
obj/Debug/ChatBubbles.csproj.FileListAbsolute.txt
obj/Debug/ChatBubbles.csprojAssemblyReference.cache
obj/Debug/ChatBubbles.dll
obj/Debug/ChatBubbles.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Properties/AssemblyInfo.cs
Class1.cs
