
.vs/ChatBubbles/v16/.suo
.vs/ChatBubbles/v16/Server/sqlite3/db.lock
.vs/ChatBubbles/v16/Server/sqlite3/storage.ide
.vs/ChatBubbles/v16/Server/sqlite3/storage.ide-shm
.vs/ChatBubbles/v16/Server/sqlite3/storage.ide-wal
bin/Debug/ChatBubbles.dll
bin/Debug/ChatBubbles.pdb
bin/Debug/CheapLoc.dll
bin/Debug/Dalamud.dll
bin/Debug/Dalamud.pdb
bin/Debug/Dalamud.xml
bin/Debug/EasyHook.dll
bin/Debug/ImGui.NET.dll
bin/Debug/ImGui.NET.pdb
bin/Debug/ImGuiScene.dll
bin/Debug/ImGuiScene.pdb
bin/Debug/Lumina.dll
bin/Debug/Lumina.Excel.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/OpenGL.Net.dll
bin/Debug/SDL2-CS.dll
bin/Debug/SDL2-CS.dll.config
bin/Debug/Serilog.dll
bin/Debug/Serilog.Sinks.Async.dll
bin/Debug/Serilog.Sinks.File.dll
bin/Debug/SharpDX.Desktop.dll
bin/Debug/SharpDX.Direct3D11.dll
bin/Debug/SharpDX.dll
bin/Debug/SharpDX.DXGI.dll
bin/Debug/SharpDX.Mathematics.dll
bin/Debug/StbiSharp.dll
bin/Debug/System.Buffers.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
obj/Debug/ChatBubbles.csproj.CopyComplete
obj/Debug/ChatBubbles.csproj.FileListAbsolute.txt
obj/Debug/ChatBubbles.csprojAssemblyReference.cache
obj/Debug/ChatBubbles.dll
obj/Debug/ChatBubbles.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Properties/AssemblyInfo.cs
Class1.cs
bin/Release/ChatBubbles.dll
bin/Release/ChatBubbles.pdb
bin/Release/CheapLoc.dll
bin/Release/Dalamud.dll
bin/Release/Dalamud.pdb
bin/Release/Dalamud.xml
bin/Release/EasyHook.dll
bin/Release/ImGui.NET.dll
bin/Release/ImGuiScene.dll
bin/Release/Lumina.dll
bin/Release/Lumina.Excel.dll
bin/Release/Newtonsoft.Json.dll
bin/Release/OpenGL.Net.dll
bin/Release/SDL2-CS.dll
bin/Release/SDL2-CS.dll.config
bin/Release/Serilog.dll
bin/Release/Serilog.Sinks.Async.dll
bin/Release/Serilog.Sinks.File.dll
bin/Release/SharpDX.Desktop.dll
bin/Release/SharpDX.Direct3D11.dll
bin/Release/SharpDX.dll
bin/Release/SharpDX.DXGI.dll
bin/Release/SharpDX.Mathematics.dll
bin/Release/StbiSharp.dll
bin/Release/System.Buffers.dll
bin/Release/System.Memory.dll
bin/Release/System.Numerics.Vectors.dll
bin/Release/System.Runtime.CompilerServices.Unsafe.dll
obj/Release/ChatBubbles.csproj.CopyComplete
obj/Release/ChatBubbles.csproj.FileListAbsolute.txt
obj/Release/ChatBubbles.csprojAssemblyReference.cache
obj/Release/ChatBubbles.dll
obj/Release/ChatBubbles.pdb
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
